/* ==========================================================================
 * Lists
 * ========================================================================== */

/*
  Lists

  Markup:
  <h3>Ordered List</h3>
  <ol>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ol>
  <h3>Unordered List</h3>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ul>
    </li>
    <li>List Item 3</li>
  </ul>

  Styleguide: Elements.Lists
*/

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
  Definition Lists

  Markup:
  <dl>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
  </dl>

  Styleguide: Elements.Lists.Definition Lists
*/

dl,
dt,
dd {
  margin: 0;
}
