/* ==========================================================================
 * Styles
 * ========================================================================== */

/* Vendor */
@import "normalize.css";
@import "sanitize.css";
@import url("https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans");
/*@import "0_vendor/vendor";*/

/*
  Settings

  Weight: 0

  Styleguide Settings
*/
@import "1_settings/mixins";
@import "1_settings/variables";

/*
  Elements

  Weight: 1

  Styleguide Elements
*/
@import "2_elements/body";
@import "2_elements/buttons";
@import "2_elements/lists";
@import "2_elements/typography";

/*
  Components

  Weight: 2

  Styleguide Components
*/
@import "3_components/buttons";

/*
  Layout

  Weight: 3

  Styleguide Layout
*/
@import "4_layout/sections";

/*
  Helpers

  Weight: 4

  Styleguide Helpers
*/
@import "5_helpers/typography";

/* Style Guide */
@import "6_styleguide/slideout-menu";
@import "6_styleguide/styleguide";
@import "6_styleguide/syntax-highlighting";
